@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-primary: hsl(215, 80%, 60%);
    --color-secondary: hsl(215, 80%, 65%);
    --color-bg: hsl(215, 80%, 10%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
}

main {
    max-width: 500px;
    width: 80%;
    margin: auto auto;
}

label {
    display: block;
    text-align: center;
    margin: 1em 0em;
    font-weight: bold;
    letter-spacing: 0.10em;
    color: white;
    font-size: large;
}

h1 {
    text-align: center;
    color: var(--color-primary);
    letter-spacing: 0.10em;
    margin-top: 10rem;
}

#dob {
    display: block;
    margin: 0 auto;
}

#lucky-number {
    display: block;
    margin: 0 auto;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn,
.reset-btn {
    display: inline-block;
    padding: 0.6em 1em;
    border-radius: 10em;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: white;
    margin: 3em 1em;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.10em;

}

.btn:hover,
.reset-btn:hover {
    background-color: var(--color-secondary);
    color: white;
}


input {
    max-width: 250px;
    width: 250px;
    padding: 0.5em;
    padding-left: 1em;
    border-radius: 10em;
    border: 1px solid var(--color-primary);
    margin: 0em auto;
    letter-spacing: 0.10em;
    font-size: large;

}

.output {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    color: white;
    width: 80%;
    margin: 0em auto;
    letter-spacing: 0.10em;
}